:root{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --app-gradient: linear-gradient(to right, #00323b, #0a9396);
  --app-second-color: #00323b;
  --app-third-color: #0a9396;
}
#root{
  display: flex;
  flex-direction: row;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100dvw
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
#root > div.contentGrid > header > div.header-right > div > a:nth-child(3){
  cursor: pointer;
}
.SideNavBar{
  width: 20dvw;
  height: 100dvh;
  background: linear-gradient(to bottom, #00323b, #0a9396);
}

.closingButton{
  position: absolute;
  top: 40dvh;
  left: 275px;
}
.x-button{
  size: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}
.x-button:hover{
  color: grey;
  cursor: pointer;
}

button{
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.monthSelector{
  height: 100px;
}
.SideNavBar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0px 15px 15px 0px;
  overflow:  hidden
}
.features{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  padding-top: 84px;
}

.features a, .features button, .dropdownVisible.visible{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  gap: 15px;
}
.dropdownVisible{
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: ease-in;
}

.dropdownVisible.visible {
  opacity: 1;
  height: auto;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-left{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
padding: 20px 0px 0px 20px;
}
.header-left p {
  gap: 10px;
  margin: 0;
}
.header-mid{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5dvh;
  padding: 20px 20px 0px 0px;
  gap: 50px;
  align-items: center;
  position: relative;
}
.header-right{
display: flex;
flex-direction: row;
justify-content: flex-end;
height: 5dvh;
padding: 20px 20px 0px 0px;
gap: 50px;
align-items: center;
position: relative;
  
}
.userGreeting{
  color:#0a9396;
  font-size: 30px;
}
.contentGrid{
  display: flex;
  flex-direction: column;
  width: 100dvw;
  min-height: 100dvh;
}
.userIcon{
  color: #0a9396;
  font-size: 30px; 
}
/* LOGIN */
.loginText, .loginText a{
  display: flex;
  font-size: 1.5rem;
  margin: 0;
  color: black;
  font-weight: 100;
  text-decoration: none;
  color: var(--app-second-color);
}
.loginButton, .registerButton{
  width: 100px;
}
.loginButton, .registerButton, .saveButton{
  border: solid 2px  #0a9396;
  height: 40px;
  border-radius: 20px;
  color: black;
  font-size: 20px;
}
.saveButton{
  width: 150px;
}
.loginText a:hover{
  color: var(--app-second-color)
}
.bigLoginContainer, .bigRegisterContainer{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.loginSeparator, .registerSeparator{
  width: 45dvw;
  height: 100dvh;
  background: linear-gradient(to bottom, #00323b, #0a9396)
}
.loginContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 0.5px solid grey;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  margin: 100px 0px 100px 250px;
}
.registerContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 0.5px solid grey;
  width: 450px;
  height: 650px;
  border-radius: 20px;
  margin: 100px 0px 100px 250px;
}
.usernameContainer, .passwordContainer, .phoneContainer, .emailContainer{
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 5px;
}
.usernameContainer input, .passwordContainer input{
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.nameContainer{
  display: flex;
  flex-direction: row;
}

/* error handling in register and login */

.ErrorHandling{
  height: 15px;
}

/*  */
.profileDropdown{
position: absolute;
width: 150px;
top: 100%;
right: 20px;
background: linear-gradient(to right, #00323b, #0a9396);
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
display: flex;
flex-direction: column;
gap: 10px;
z-index: 1;
padding: 10px 0px 10px 0px;
} 
.profileDropdown a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  height: 30px;
}
.profileDropdown a:hover{
  background-color:var(--app-third-color);
}
.profileUpdateContainer{
  height: 95dvh;
}
.profileUpdateContainer h2{
  font-size: 30px;
}
 .updateContainerName, .updateContainerContact, .updateContainerImage{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  height: 100px;
  padding: 20px 0px 20px 0px;
  align-items: center;
 }
 .updateContainerNameFirst, .updateContainerNameLast, .updateContainerPhone, .updateContainerEmail{
  display: flex;
  flex-direction: column;
  gap: 5px;

 }
.updateContainerImage img{
  width: 100px;
  height: 100px;
  object-fit: cover
}

/* display grid for cash flow */

.displayGrid{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100dvh;
  min-height: 75dvh;
  padding: 100px 100px 50px 100px;
}
.displayList{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* dashboard of main page */

.mainGridDashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 100px 0px 100px;
}
.leftGridDashboard{
  display: flex;
  min-height: 60dvh;
  flex-direction: column;
  justify-content: center;
}
.budgetContainer {
  padding: 20px;
  border: 1px solid #ccc;
  width: 100%; 
  height: 60dvh;
  border-radius: 30px;
}
#root > div.contentGrid > div > div.leftGridDashboard > div > h3{
  width: auto;
}
.budgetGrid{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.budgetGridHeader, .budgetGridRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-width: 30dvw; 
  min-height: 30px;
  max-width: 100px;
  align-items: center;
}
.budgetGridHeader div, .budgetGridRow div {
  flex: 1;
  text-align: center; 
  
}
.budgetGridHeader {
  background-color: #f0f0f0;
  font-weight: bold;
  border-radius: 50px;
}
.budgetGridRowDiv{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50px;
}
.budgetGridRowDiv:hover{
  cursor: pointer;
  opacity: 0.6;
}
.budgetGridRowDiv span{
  display: flex;
  min-width: 100px;
  min-height: 40px;
  justify-content: center;
  align-items: center;

}

/* OPEN SIDEBAR BUTTON */
.open-navbar-button{
position: absolute;
left: 0;
top: 40dvh;
}
.open-navbar-button{
  size: 30px;
  height: 30px;
  color: black;
  cursor: pointer;
}
.open-navbar-button:hover{
  cursor: pointer;
  color:#0a9396;
}
/* WELCOME PAGE LAYOUT */

.hero {
  background: linear-gradient(to right, #00323b, #0a9396);
  color: #e9d8a6;
  padding: 4em 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  max-width: 640px;
  margin: 0 auto;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: whitesmoke;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2em;
  color: whitesmoke;
  opacity: 0.9;
}

.hero-buttons .btn {
  padding: 0.8em 2em;
  margin-right: 0.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1;
  border: solid 1px white;
  border-radius: 99px;
  transition: transform 0.3s ease;
}
#root > div > section > div > div > button:hover{

transform: translateY(-2px);
}

/* Features Layout */

.features-container {
  background-color: #fff; /* White background */
  padding: 4rem 10rem 4rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
  grid-gap: 2rem; /* Space between the grid items */
}

.feature-card {
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-3px);

}

.feature-title {
  color: #333; 
  margin-top: 0.5rem;
}

.feature-description {
  color: #666; 
  font-size: 0.9rem;
}

i {
  font-size: 2rem; 
  color: #0093E9; 
}

@media (max-width: 768px) {
  .features-container {
    grid-template-columns: 1fr; /* One column for smaller screens */
  }
}
 

/* About US */

.about-us .container {
  max-width: 800px;
  margin: auto;
  padding: 100px 0px 100px 0px;
}

.accordion-item {
  border-bottom: 1px solid #eee;
  padding: 20px 0px 20px 0px;
}

.accordion-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title h2 {
  font-size: 1.25rem;
  margin: 0;
}

.accordion-content p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0 0;
  margin: 0;
}

/* Footer  */

.app-footer {
  background: linear-gradient(to right, #00323b, #0a9396);
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
}

.footer-section a:hover {
  text-decoration: underline;

}

#root > div > footer > div > div:nth-child(4) > a:nth-child(2){
  padding-right: 15px;
}
#root > div > footer > div > div:nth-child(3) > a:nth-child(2){
  padding-right: 15px;
}
.section-separator {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #00323b, #0a9396); /* Your gradient */
  margin: 3dvw 20dvw 2dvw 20dvw;
}
.fa-2x{
  transition: transform 1s ease;
}
.fa-2x:hover{
  transform: translateY(-3px);
}